/*
 ******************************** Search API/ Solr "Current Search block"  *****************************************
 */


.block-current-search {
	
	float: right;
	width: 30.5%;

	.current-search-item {
		font-size: 1em;
	}
}

.block-current-search h3 {
	@include appearance(none);
	  -webkit-font-smoothing: antialiased;
	  background-color: $light-gray;
	  border-radius: $base-border-radius;
	  border: none;
	  //color: #fff;
	  font-family: $base-font-family;
	  font-size: 1.1em;
	  line-height: 1;
	  padding: 1em 1em;
	  width: 100%;
}


.page-solr #featured .views-exposed-form {
	float: left;
	width: 67.5%;

}



/*
 ******************************** Chosen dropdown filter overrides  **************************************************
 */
.chosen-container {}
.chosen-container-single .chosen-single {
	//background: none;
	box-shadow: none;
	height: 3.8em;
	border: 1px solid $base-border-color;
	padding: 12px;
	border-radius: $base-border-radius;
}

.chosen-container-single .chosen-single div b {position: relative; top: 10px; left: 3px;}


/*
 ********************************   Main Featured    **************************************************
 */

#featured {
	padding: $base-spacing 0;
}


.featured-outer-one {
	//padding: $base-spacing 0; 
	margin-bottom: $base-spacing;
	background-color: #f8f8f8; 
}


/*
 ********************************   Featured Series View   **************************************************
 */


.front .featured-outer-three {background-color: $light-gray;}

.front .view-series-featured .view-content {
	.views-row {

    	@include span-columns(3);
    	@include omega(4n);
		margin-bottom: 1em;
		margin-top: 1em;
		
	}
	@include clearfix;
}

.view-admin-people .views-row-edit-static {display: none;}

/*
 ********************************   Featured People View   **************************************************
 */

.front .featured-outer-four {background-color: $lighter-gray;}

.front .view-people-featured .view-content {
	.views-row {

    	@include span-columns(2);
    	@include omega(6n);
		margin-bottom: 2em;
		
	}
	@include clearfix;
}

.view-admin-people .views-row-edit-static {display: none;}




/*
 ********************************   Featured iTunes U category selectors   **************************************************
 */


.front .featured-outer-two {background-color: $lighter-gray; margin-top: 100px;}

.categories {

	.category  {
		//@include reset-display;
		@include span-columns(3);
		@include omega(4n); 
		display: block;
		}
	@include clearfix;
}

.hover-tile-outer {
  border: 1px solid $base-border-color;
  background-color: $light-gray;
  margin: $base-spacing/2 0;
  display: block;
  height: 70px;
  cursor: pointer;
  padding: $base-spacing 0;
  
  a {
    display: block;
    text-align: center;
    font-size: 1.2em;
    vertical-align: middle;
    //padding: 12px;
  }
}

.hover-tile-container {
  margin-top: 23px;
  transform: scale(0);
  opacity: 0;
  font-size: 1em;
  background: transparentize(#000, 0.5);
  color: white;
  padding: $base-spacing;
  cursor: default;

  li {
  display: inline;

    &:not(:last-child):after { 
      content: "\00a0 | \00a0";
    }
  }  
}

.hover-tile-outer:hover .hover-tile-container {
  transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 100;
  @include transition (opacity .9s ease-in-out);
}
