/*
 ******************************** Search API/ Solr "Current Search block"  ****************************
 */


.block-current-search {
	
	float: right;
	width: 30.5%;

	.current-search-item {
		font-size: 1em;
	}
}

.block-current-search h3 {
	@include appearance(none);
	  -webkit-font-smoothing: antialiased;
	  background-color: $colorLinkHover;
	  border-radius: $base-border-radius;
	  border: none;
	  color: $font-heading-color;
	  font-family: $base-font-family;
	  font-size: 1em;
	  line-height: 1;
	  padding: 1.22em 1.2em;
	  width: 100%;
}


.page-solr #featured .views-exposed-form {
	float: left;
	width: 67.5%;

}



/*
 ********************************   Main Featured    **************************************************
 */

 main {
 	padding-top: 2em;
 }

#featured {
	padding: 2.5em 0 2.2em 0;
}

.front {
	.featured-outer-one {
		background-color: $colorLightGrey;
	}
}

.context-series-page {
	.featured-outer-one {
		background-color: $colorIconBlueGrey;
	}
}
.context-people-page {
	.featured-outer-one {
		background-color: $colorGraduateLightGreen; //$colorBooksBlog; //$colorMidGrey;
	}
}

.context-episode-page {
	.featured-outer-one {
		background-color: $colorMidGrey //$colorBooksBlog; //$colorMidGrey;
	}
}

.featured-outer-one {
	//padding: $base-spacing 0; 
	//margin-bottom: $base-spacing;
	background-color: $colorBeigeGrey; //$colorBooksBlog; 
}


/*
 ********************************   Featured Series View  ****************************************
 */


.front .featured-outer-three {background-color: $colorLightGrey;}

.front .view-series-featured .view-content {
	.views-row {

    	@include span-columns(3);
    	@include omega(4n);
		margin-bottom: 1em;
		margin-top: 1em;
		
	}
	@include clearfix;
}

.view-admin-people .views-row-edit-static {display: none;}

/*
 ********************************   Featured People View  ***************************************
 */

.front .featured-outer-four {background-color: $colorVLightGrey;}

.front .view-people-featured .view-content {
	.views-row {

    	@include span-columns(2);
    	@include omega(6n);
		margin-bottom: 2em;
		
	}
	@include clearfix;
}

.view-admin-people .views-row-edit-static {display: none;}




/*
 ********************************   Featured iTunes U category selectors  ******************************
 */


.front .featured-outer-two {
	background-color: $colorVLightGrey;
}

.categories {
	padding: 2em 0;

	.category  {

		@include span-columns(3);
		@include omega(4n); 
		display: block;
		}
	@include clearfix;
}

.hover-tile-outer {
  border: 1px solid $base-border-color;
  background-color: $colorLightGrey;
  margin: $base-spacing/2 0;
  display: block;
  height: 4em;
  cursor: pointer;
  padding: 1em 0;
  
  a {
    display: block;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
    //padding: 12px;
  }
}

.hover-tile-container {
  margin-top: 23px;
  transform: scale(0);
  opacity: 0;
  font-size: .85em;
  background: transparentize(#000, 0.5);
  color: white;
  padding: $base-spacing;
  cursor: default;

  li {
  display: inline;

    &:not(:last-child):after { 
      content: "\00a0 | \00a0";
    }
  }  
}

.hover-tile-outer:hover .hover-tile-container {
  transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 100;
  @include transition (opacity .9s ease-in-out);
}
