.view {font-size: $views-font-size;}
.view-episode-search-solr .views-row {margin-bottom: 60px; border-top: 1px solid $base-border-color;}
.view-episode-search-solr .views-fieldset {border: 1px solid $base-border-color;}
.view-episode-search-solr .views-field-field-series-name {width: 150px;}

.view-episode-search-solr 
{
	@include fill-parent();
	@include row(table);

	.fieldset-top-left {
		@include span-columns(1);
		//@include pad();
	}
	.fieldset-top-middle {
		@include span-columns(6);
		@include pad();
	}
	.fieldset-top-right {
		@include span-columns(1);
		//@include pad();
	    text-align: right;
	}
}

.view-episode-search-solr .views-field-title {font-size: 1.3em;}
.view-episode-search-solr .views-field-body-value {
	border-bottom: 1px solid $base-border-color; 
	margin-bottom: 15px;
}

.view-episode-search-solr .views-field-field-people {
	vertical-align: bottom;
}


/*
 * The below is to use in case the @include row(table) implementation falls about given Gulp error
 * The below basically is an extension of the _layout.scss model, and works. 
 * 
 */

// .fieldset-top-left {
// 	@include span-columns(1.5 of 8);
// 	height: 300px;
// 	//@include pad();
// 	}
// 	.fieldset-top-middle {
// 	@include span-columns(5 of 8);
// 	height: 300px;
// 	@include pad();
// 	}
// 	.fieldset-top-right {
// 	@include span-columns(1.5 of 8);
// 	height: 300px;
// 	@include omega;
// 	//@include pad();
// 	text-align: right;
// }
