/*
 ******************************** Front search bar  ****************************
 */

.front {

	.header-middle-outer {
		padding-top: 4.5em;
		padding-bottom: 4em;
		background-color: $colorLightGrey;
		width: 100%;
		@include media($tablet) {
			padding-top: 3em;
			padding-bottom: 2em;
		}
		@include media($mobile) {
			padding-top: 2em;
			padding-bottom: 1em;
		}
	}

	// Place image 'before' with null content, so that image can be given opacity without affecting overlaying text
	.featured-outer-one:before {
		content: '';
		background-image: url("../images/ox_city_3.jpg");
		display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
		//filter: grayscale(.5);
		////filter: sepia(.5);
		opacity: .6;
		background-size: 100%;
		background-position: 0 -30px;
		@include media($tablet) {
			opacity: .5;
			background-position: 0 0;
		}
		@include media($mobile) {
			opacity: .3;
		}

	}
	.featured-outer-one {
		position: relative;
		padding-bottom: 5px;
		background-color: $colorVLightGrey;
		height: 350px;

		
		@include media($tablet) {
			height: 280px;
		}
		@include media($mobile) {
			height: 200px;
		}
		
		.view-episode-series-count {
			padding-top: 1em;

			.view-header  {
				position: relative;
				text-align: center;				
				line-height: 1em;
				//background: transparentize(#fff, 0.7);
				color: $colorPrimary;
				font-weight: 300;
				letter-spacing: .1em;
				
				margin-bottom: 1em;
				margin-top: 3em;
				font-variant: small-caps;
				
				.headline-one {
					padding-top: 1em;
					padding-left: 9em;
					letter-spacing: 2px;
					font-size: 2.5em;
					padding-bottom: .6em;
					@include media($tablet) {
						padding-left: 11em;
						padding-top: .8em;
						font-size: 1.7em;
						padding-bottom: 10px;
					}
					@include media($mobile) {
						padding-top: 0;
						padding-left: 0;
						font-size: 1.1em;
						padding-bottom: -2px;
						//font-weight: 200;
					}
				}
				
				.headline-two {
					color: lighten($colorLink, 8%);
					padding-bottom: 60px;
					width: 100%;
					text-align: center;
					font-size: 14em;
					padding-top: .1em;
					font-weight: 800;
					font-family: "peignot";
					font-variant: normal;
					@include media($tablet) {
						font-size: 10.5em;
						padding-bottom: 50px;
					}
					@include media($mobile) {
						font-family: arial-black;
						font-weight: 500;
						font-size: 5.5em;
						padding-bottom: 20px;
					}
				}


			}

			.view-content {
				position: relative;
				display: block;
				clear: both;
				text-align: center;
				font-size: 2em;
				background: transparentize(#fff, 0.7);
				color: darken($colorMidGrey, 30%);
				font-variant: small-caps;

				@include media($tablet) {
					font-size: 1.8em;
					//font-weight: 800;	
				}
				@include media($mobile) {
					font-size: 1em;

				}
			}



		}
		

			#block-block-8 {
				display: block;
				width: 50%;
				float: left;
			}
			#block-block-1 {
				display: block;
				width: 50%;
				float:right;
			}
		
	}

}

/*
 ******************************** Featured (Latest) Episode  ****************************
 */

.front {

	.featured-outer-three {
		//border-top: 20px solid transparentize($colorPrimary, 0.9);;
		padding-bottom: 4em;
		background-color: $colorLightGrey;



		#block-views-episode_featured_latest-block_1 {

			h2 {
				color: darken($colorIconBlueGrey, 30%);
				border-bottom: 1px solid darken($colorLightGrey, 10%);
				text-align: center;
				padding: 1em 0;
				font-size: 3.5em;
				font-variant: small-caps;
				@include media($mobile) {
					font-size: 2em;
				}
			}

			.views-row {
				margin: 1.5em 0;
				@include span-columns(6);
				@include omega(2n);
				.fieldset-latest-left {
					@include span-columns(1.5 of 6);
				}
				.fieldset-latest-right {
					@include span-columns(4.5 of 6);
	
					.views-field-title {
						//line-height: 1.3em;
						font-size: 1.3em;
						@include media($mobile) {
							font-size: .9em;
						}

					}
					.views-field-created {
						color: darken($colorLightGrey, 25%);
						@include media($mobile) {
							font-size: .9em;
						}
					}
				}

				@include media($mobile) {
					@include span-columns(4 of 4);

				}


			}
		}

	}
}

/*
 ******************************** Featured Series  ****************************
 */

.front {

	.featured-outer-four {

		border-top: 50px solid $colorIconBlueGrey;
		padding-bottom: 4px;
		background-color: $colorVLightGrey;
	
		h2 {
			color: darken($colorIconBlueGrey, 30%);
			border-bottom: 1px solid darken($colorLightGrey, 5%);
			text-align: center;
			padding: 1em 0;
			font-size: 3.5em;
			font-variant: small-caps;
			@include media($mobile) {
				font-size: 2em;
			}
		}

	}

	#block-views-series_featured-block {

		.view-series-featured {

			.view-content {
				@include clearfix;

				.views-row {

				    @include span-columns(3);
			    	@include omega(4n);
					margin-bottom: 3em;
					margin-top: 1em;

					@include media($mobile) {
						@include span-columns(2);
						@include omega(2n);
					}

					.views-field-field-series-album-cover:hover ~ .views-field-name a {
						border-bottom: 1px solid darken($colorLightGrey, 30%);
						@include transition (border-bottom .4s ease-in-out);
					}

					.views-field-name {

						a {
							border-bottom: 1px solid darken($colorLightGrey, 5%);
							display: block;
							font-size: 1.1em;
							padding: 3px;
							//margin-top: 5px;
							//text-align: center;
							//background-color: $colorBeigeGrey;
							//&:hover {background-color: $colorVLightGrey; }
						}
					
					}

				}
			}

			// If using the Owl Slider
			// .view-content {
			// 	margin-right: -50px;
			// 	 .owl-wrapper-outer {
			// 		.owl-item {
			// 			//padding-right: 50px;
			// 		}
			// 	 }
			// 		.owl-pagination {
			// 			//text-align: right;
			// 			margin: 2em 50px 1em 0;// Overrides the margin hack above
			// 			border-top: 1px solid darken($colorLightGrey, 10%);
			// 			span.owl-numbers {
			// 				margin-top: 2em;
			// 				font-size: 1.2em;
			// 				padding: 10px 20px;
			// 			}
			// 		}
			// }


			.view-footer a {
				display: block;
				text-align: center;
				margin: 1em auto 4em auto;
				//border-bottom: 1px solid darken($colorLightGrey, 10%);
				font-size: 1.3em;
				background-color: lighten($colorIconBlueGrey, 1%);
				border-radius: 5em;
				height: 130px;
				width: 130px;
				position: relative;
				padding: 28px;
				font-variant: small-caps;

				@include media($mobile) {
					margin: 1.5em auto 2.5em auto;
				}

				@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
				&:hover {
					background: transparentize($colorLinkHover, .5);
					color: $colorVLightGrey;
					@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
					@include transform(scale(3) rotate(0deg));

					@include media($mobile) {
						@include transform(scale(1.5) rotate(0deg));
					}
				}

			}

			
		}

	}
}




/*
 ******************************** Featured People  ****************************
 */

.front {

	.featured-outer-five {

		border-top: 50px solid $colorGraduateLightGreen;
		padding-bottom: 1em;
		background-color: $colorLightGrey;

			h2 {
				color: darken($colorGraduateLightGreen, 12%);
				border-bottom: 1px solid $colorBeigeGrey;
				text-align: center;
				padding: 1em 0;
				font-size: 3.5em;
				font-variant: small-caps;
				@include media($mobile) {
					font-size: 2em;
				}
			}
	}

	#block-views-people_featured-block {

		.view-people-featured {

			.view-content {
				@include clearfix;

				.views-row {
					
					margin-bottom: 2em;
					@include span-columns(2);
			    	@include omega(6n);

					@include media($mobile) {
						@include span-columns(2);
						@include omega(2n);
					}

					.views-field-field-people-image:hover ~ .views-field-name a {
						border-bottom: 1px solid darken($colorBeigeGrey, 20%);
						@include transition (border-bottom .4s ease-in-out);
					}


					.views-field-name {

						a {
							display: block;
							margin-bottom: .5em;
							font-size: .9em;
							padding: 3px;
							text-align: center;
							border-bottom: 1px solid $colorBeigeGrey;
						}
					
					}

				}

			}

			.view-footer a {
				display: block;
				text-align: center;
				margin: 2em auto 4em auto;
				//border-bottom: 1px solid darken($colorLightGrey, 10%);
				font-size: 1.3em;
				background-color: $colorGraduateLightGreen;
				border-radius: 5em;
				height: 130px;
				width: 130px;
				position: relative;
				padding: 35px 10px;
				font-variant: small-caps;

				@include media($mobile) {
					margin: 1.5em auto 2.5em auto;
				}

				@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
				&:hover {
					background: transparentize(darken($colorGraduateLightGreen, 10%), .3);
					color: $colorVLightGrey;
					@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
					@include transform(scale(3) rotate(0deg));

					@include media($mobile) {
						@include transform(scale(1.5) rotate(0deg));
					}
				}

			}


		}
	}
}

.view-admin-people .views-row-edit-static {display: none;}


/*
 ******************************** Featured Units  ****************************
 */

.front {

	.featured-outer-six {

		border-top: 50px solid $colorGraduateYellow;
		padding-bottom: 1em;
		background-color: $colorVLightGrey;

			h2 {
				color: darken($colorGraduateYellow, 22%);
				border-bottom: 1px solid darken($colorLightGrey, 5%);
				text-align: center;
				padding: 1em 0;
				font-size: 3.5em;
				font-variant: small-caps;
				@include media($mobile) {
					font-size: 2em;
				}
			}

	}


	#block-views-unit_featured-block {
		.view-unit-featured {

			.view-content {
				@include clearfix;

				.views-row {
					
					margin-bottom: 2em;
					@include span-columns(2);
			    	@include omega(6n);

					@include media($mobile) {
						@include span-columns(2);
						@include omega(2n);
					}

					.views-field-field-unit-image:hover ~ .views-field-name a {
						border-bottom: 1px solid darken($colorLightGrey, 30%);
						@include transition (border-bottom .4s ease-in-out);
					}

					.views-field-name {
						a {
							display: block;
							margin-bottom: .5em;
							font-size: .9em;
							padding: 3px;
							//text-align: center;
							border-bottom: 1px solid darken($colorLightGrey, 5%);
							margin-top: 5px;
							&:hover {background-color: $colorVLightGrey; }
						}
					
					}

				}
			}

			.view-footer a {
				display: block;
				text-align: center;
				margin: 2em auto 4em auto;
				//border-bottom: 1px solid darken($colorLightGrey, 10%);
				font-size: 1.2em;
				background-color: $colorGraduateYellow;
				border-radius: 5em;
				height: 130px;
				width: 130px;
				position: relative;
				padding: 30px;
				font-variant: small-caps;
				
				@include media($mobile) {
					margin: 1.5em auto 2.5em auto;
				}

				@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
				&:hover {
					background: transparentize(darken($colorGraduateYellow, 30%), .3);
					color: $colorVLightGrey;
					@include transition (background .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out);
					@include transform(scale(3) rotate(0deg));

					@include media($mobile) {
						@include transform(scale(1.5) rotate(0deg));
					}
				}



			}
		}

	}
}


/*
 ******************************** Featured Categories  ****************************
 */

.front {

	.featured-outer-two {

		.category-headline {
			padding: 1em;
			border-radius: 3px;
			font-size: 2em;
			color: darken($colorLightGrey, 15%);
			text-align: center;
			border-bottom: 1px solid darken($colorLightGrey, 10%);

			@include media($tablet) {
				font-size: 2em;
			}

			@include media($mobile) {
				font-size: 1.2em;
			}
		}


	}

	.categories {

		@include clearfix;
		padding: 1em 0 2em 0;

		.category  {
			@include span-columns(3);
			@include omega(4n); 
			@include media($tablet) {
				@include omega-reset(4n, 6);
				@include span-columns(3 of 6);
				@include omega(2n);
			}
		}




		
	}

	.hover-tile-outer {
		background: $colorLinkHover;
		border-radius: 1px;
		margin: 1em 0;
		font-weight: normal;
		display: block;
		height: 3.2em;
		cursor: pointer;
		padding: .9em 0;
		@include media($mobile) {
		  	margin: .8em 0;
		}
	&:hover {
	  	background: transparentize($colorPrimary, 0.3);
	}
	  
	a {
		color: #fff;
		font-variant: small-caps;
		display: block;
	    text-align: center;
	    font-size: 1.1em;
	    vertical-align: middle;
	    @include media($mobile) {
	    	font-size: .9em;
	    }	    
	  }

	}
	
	// Special line height for "Psychology and Social Science"
	@include media($mobile) {
		.category_12 a {
			font-size: .8em;
			letter-spacing: 0;
		  	//line-height: 1em;
		}
	}

	.hover-tile-container {
	  margin-top: 12px;
	  border-radius: 1px;
	  transform: scale(0);
	  opacity: 0;
	  font-size: 1.3em;
	  background: darken($colorDarkGrey, 40%);
	  font-variant: small-caps;

	  color: $colorVLightGrey;
	  padding: 1em;
	  cursor: default;

	  li {
	  //display: inline;

	    // &:not(:last-child):after { 
	    //   content: "\00a0 | \00a0";
	    // }
	  }  
	}

	.hover-tile-outer:hover .hover-tile-container {
	  transform: scale(1);
	  opacity: 1;
	  position: relative;
	  z-index: 100;
	  @include transition (opacity .4s ease-in-out, transform .3s ease);
	}

}



