.page-manage {

	.views-reset-button input, #edit-actions-submit {
		font-size: 1.2em;
		background-color: $colorLinkHover;
		color: $colorLightGrey;
		//margin-left: 10px;
		width: 100px;
	}

	.view-admin-people, .view-admin-series {
		.view-header {
			background-color: $colorLightGrey;
			padding: 1em;
			font-size: 1.3em;
			margin-bottom: 1em;
			line-height: 1em;
			color: $colorMidGrey;
		}

	}

	h1#page-title {
		background-color: $colorLightGrey;
		padding: 1em;
		font-size: 2em !important;
		margin-bottom: 1em;
		font-variant: small-caps;
		color: $colorMidGrey;

	}


}