 main #content #page-title {
	font-size: 1.5em;
	//padding-bottom: 10px; 
}

.context-people-page, .context-series-page, .context-unit-page, .context-unit-gallery, .context-people-gallery, .context-series-gallery {

	    // See also the more general "main" padding-top on _page.scss
		main {
			padding-top: 5em;

			@include media($mobile) {
				padding-top: 1em;
			}

		}  

}

.page-solr {
	main {padding-top: 3em;}
}

 main {
 	padding-bottom: 15em;
 }

 .views-exposed-widgets {
 	margin: 0;
 }



