 main #content #page-title {
	font-size: 1.5em;
	//padding-bottom: 10px; 
}

main {
	//padding-top: 4em;
 	padding-bottom: 15em;
 	@include media($mobile) {
 		padding-bottom: 7em;
 	}
 }

.page-user-login {
	main {
		padding-top: 4em;
	}
	input {padding: 20px;}
}

.context-unit-gallery, .context-people-gallery, .context-series-gallery {

	    // See also the more general "main" padding-top on _page.scss
		main {
			padding-top: 4em;

			@include media($mobile) {
				padding-top: 2em;
			}

		}  

}

.context-people-page, .context-series-page, .context-unit-page {

	    // See also the more general "main" padding-top on _page.scss
		main {
			padding-top: 6em;

			@include media($mobile) {
				padding-top: 2em;
			}

		}  

}

.page-solr {
	main {
		padding-top: 1.5em;
		@include media($mobile) {
			padding-top: 1em;
		}
	}
}




/*
 * Always show scroll bar
 */

.sidebar-first, body {
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 10px;
		//border-left: 1px solid $colorLightGrey;
	    //border-right: 1px solid $colorLightGrey;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 2px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

 



 /*
 * Node pages of content type "basic"  --  for general footer information styling
 */

.node-type-page {

	&.one-sidebar.sidebar-first {

    main {
      aside {
        &#sidebar-first {
          @include span-columns(4); 
          @include media($mobile) {
              @include span-columns(4);
          }
        }
      }

      section#content {
          @include span-columns(8);
          @include media($mobile) {
              @include span-columns(4);
          }
        }
      }

  	}


	main {
		padding-top: 4em;
		h1 {
			display: none;
			padding-top: -2em;
		}

		aside {
			#block-views-episode_series_count-block_1 {	
				font-size: 1.3em;
				font-variant: small-caps;
				background-color: $colorVLightGrey;
				@include media($tablet) {
					font-size: 1.1em;
				}
				@include media($mobile) {
					font-size: 1em;
					margin-bottom: 4em;
				}
				h2 {
					margin: 0;
					padding: .5em;
					background-color: darken($colorVLightGrey, 4%);
					font-size: 2.4em;
					color: darken($colorLightGrey, 20%);
					@include media($tablet) {
						font-size: 1.6em;
					}
					@include media($mobile) {
						font-size: 1.6em;
					}
				}


				.view-episode-series-count {
					padding: 1em 2em 1em 1em;
					.view-footer {
						.about_stats_header {
							color: $colorMidGrey;
							font-size: 1.2em;
							border-top: 1px solid $colorLightGrey;
							border-bottom: 1px solid $colorLightGrey;
							margin: 1.5em 0;
							padding: 1em 0;
						}
						.about_stats {
							padding-bottom: 1.5em;
						}

					}
				}
				
			}
			
		}
	}
		

	#content {
		font-size: 1.2em;
		@include media($mobile) {
			font-size: 1em;
		}
		p {
			margin: 0 0 2em 0;
			clear: both;
			
		}

		h2 {
			font-variant: small-caps;
			font-size: 1.5em;
			border-top: 1px solid darken($colorLightGrey, 1%);
			//border-top: 1px solid $colorLightGrey;
			color: darken($colorLightGrey, 30%);
			&:not(:first-child) {
				margin-top: 3em;

			}
		}

		span {
			text-transform: uppercase;
			font-weight: bold;
		}
		a.menu {
			background-color: darken($colorLink, 5%);
			font-variant: small-caps;
			color: $colorVLightGrey;
			padding: 0 5px 2px 5px;
		}

		.about-itunes-subscribe, .about-rss-subscribe {
			background-color: $action-color;
			color: $colorLightGrey;
			font-size: .9em;
			width: 145px;
			float: left;
			display: block;
			padding: 5px;
			vertical-align: middle;
			//margin:.5em 1em .5em 0;
			margin: 0 1em 2em 0;
		}


		.about-itunes-subscribe {
			background-image: url("../images/itunes_u.png");
			background-repeat: no-repeat;
			background-size: 21%;
			padding-left: 45px;


		}
		.about-rss-subscribe {
			background-image: url("../images/rss_icon.png");
			background-repeat: no-repeat;
			background-size: 22%;
			background-position: -5px -1px;
			padding-left: 40px;

		}

		.about-cc-copyright {

			background-color: $colorVLightGrey;
			padding: 10px 20px 10px 10px;
			&:before {
				content: "cc";
				color: transparent; // Required if only to show image below
				background-image: url("../images/cc_logo_small.png");
				background-size: 18px;
				position: relative;
				top: 4px;
				//float: right;
				left: 5px;
				padding: 5px 10px;
				background-repeat: no-repeat;
			}
		}
	}



	.header-middle-outer {
		padding-top: 4.5em;
		padding-bottom: 4em;
		background-color: $colorLightGrey;

		@include media($mobile) {
			padding-top: 2em;  // to offset dependence on form elements bottom-padding
			padding-bottom: 1em;  
		}

		.field-name-field-title-display  {
			//color: $colorLightPrimary;
			font-size: 4em;
			color: $colorMidGrey;
			border-bottom: 1px solid $colorBeigeGrey;

			@include media($tablet) {
				font-size: 3em;
			}

			@include media($mobile) {
				font-size: 2em;
			}
		}

		.field-name-field-basic-description {
			p {
				padding: 15px 0;
			}
			font-size: 1.2em;
			padding-top: 1em;
			color: darken($colorLightGrey, 50%);

			// a.menu {
			// 	background-color: darken($colorLink, 5%);
			// 	font-variant: small-caps;
			// 	color: $colorVLightGrey;
			// 	padding: 0 5px 2px 5px;
			// }

		}
	}

	

}





