 main #content #page-title {
	font-size: 1.5em;
	//padding-bottom: 10px; 
}

main {
	//padding-top: 4em;
 	padding-bottom: 15em;
 	@include media($mobile) {
 		padding-bottom: 7em;
 	}
 }

 .logged-in main {
 	padding-top: 5em;
 }

.page-user-login {
	main {
		padding-top: 4em;
	}
}

.context-unit-gallery, .context-people-gallery, .context-series-gallery {

	    // See also the more general "main" padding-top on _page.scss
		main {
			padding-top: 4em;

			@include media($mobile) {
				padding-top: 2em;
			}

		}  

}

.context-people-page, .context-series-page, .context-unit-page {

	    // See also the more general "main" padding-top on _page.scss
		main {
			padding-top: 6em;

			@include media($mobile) {
				padding-top: 2em;
			}

		}  

}

.page-solr {
	main {
		padding-top: 1.5em;
		@include media($mobile) {
			padding-top: 1em;
		}
	}
}




/*
 * Always show scroll bar
 */

.sidebar-first, body {
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 10px;
		//border-left: 1px solid $colorLightGrey;
	    //border-right: 1px solid $colorLightGrey;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 2px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

 



 