/*
 *****************  People Gallery View (.../people)  **************************************************
 */

.page-people .view-people-view {

	.view-header {
		border-top: 2px solid $colorBeigeGrey;
		font-size: 2em;
		color: $colorMidGrey;
		text-align: center;
		
		padding: 3px 0;
		margin-bottom: $base-spacing;
	}

	.views-row {
		img {
			border-radius: 5px 5px 0 0;
		}

		// @include span-columns(2);
    	// @include omega(6n);
    	// Using explicit floats here, not the grid, as want larger grid gutters. 
        float: left;
        width: 19%;
        //padding: 1%;
        display: inline-block;
        margin: 0 8% 2% 0;
        &:nth-child(4n+1) {clear: both;} // because of diff height on pdf image
        &:nth-child(4n) { margin-right: 0; } 

		margin-bottom: 3em;

		.views-field-name {
			background-color: $colorLightGrey;
			text-align: center;
			padding: 2px;
			//border-radius: 0 0;

		}

		.views-field-field-unit {
			background-color: $colorBeigeGrey;
			text-align: center;
			padding: 0;
			font-size: .8em;
			border-radius: 2px 2px 0 0 ;

		}

	}

}


/*
 *************************  People Page (.../people/person-name) -- Title/Description **********************************
 */

.context-people-page {

	main {
		#page-title {display:none;}
	}


	.header-middle-bottom-outer {
		padding-top: 4em;
		padding-bottom: 4em;
		background-color: $colorGraduateLightGreen; //$colorBooksBlog; //$colorMidGrey;
	}

	#block-views--exp-people_view-page {
		
		filter: opacity(.9);

	}

	.featured-outer-one  {
		//padding-bottom: 3em;
		background-color: lighten($colorGraduateLightGreen, 3%); //$colorBooksBlog; //$colorMidGrey;
		
		
		// EVA Field Person Name
		#block-fieldblock-bdcadf5ac654ed7b2d0bed98ddbbca1a .view-display-id-entity_view_2 {
			
			.views-field-name-1 {
				padding-top: .5em;
				font-size: 2em;
				border-bottom: 1px solid $colorLinkHover;
			}
		}
		// EVA Field Person Description
		#block-fieldblock-77e58f65f54c4a3b1f9304de010e7c26 .view-display-id-entity_view_4 {

			.views-field-description  {
				padding: 2em 0;
				font-size: 1.2em;
				color: darken($colorMidGrey, 20%);

				.field-content p br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1em !important;    
				}
			}
		}

	}

}

// EVA Field Person Associated Series
.context-people-page {
	.featured-outer-two {
		background-color: $colorLightGrey;
		

		#block-fieldblock-8d83dd80917f5b47c5567abe2f2782e2 .view-display-id-entity_view_1 {

			h2 {
				padding: 1em 0;
				font-size: 1.1em;
				display: block;
				cursor: pointer;
				color: $action-color;
				
			}
			h2.collapsed:after {
				content: "   ▲   ";
			}

			h2:not(.collapsed):after {	
				content: "   ▼   ";
			}

			.view-content {
				display:none; // JQuery toggles
			}

			.views-row {
				width: auto;
				padding: 2em 0;
				@include span-columns(2);
				@include omega(6n);
				font-size: $description-font-size;

				.views-field-name {

					a {
						display: block;
						color: $colorOffBlack;
						height: 40px;
						font-size: .9em;
						border-radius: 0 0 2px 2px;
					}

				}

			}		
		}
	}
}





/*
 *****************  Lexicon View (.../people)  **************************************************
 */

.lexicon-list > dl > dt {
	@include span-columns(3);
    @include omega(4n);
	width: 20%
}

.lexicon-list > p {
	@include clearfix;
}

