/*
 *****************  People Gallery View (.../people)  **************************************************
 */

.context-people-gallery {


	.header-middle-outer {
		background-color: $colorGraduateLightGreen;
		padding-top: 4.5em;
		padding-bottom: 4em;

		@include media($mobile) {
			padding-top: 2em;
			padding-bottom: 0;
		}
	}

	.view-header {
		border-top: 2px solid $colorBeigeGrey;
		font-size: 2em;
		font-variant: small-caps;
		color: $colorMidGrey;
		text-align: center;
		padding: 3px 0;
		margin-bottom: $base-spacing;
	}

	.views-row {
		img {
			border-radius: 5px 5px 0 0;
		}

		@include span-columns(3);
  		@include omega(4n);
  		//@include omega-reset(4n);
    	//Using explicit floats here, not the grid, as want larger grid gutters. 
        // float: left;
        // width: 19%;
        // display: inline-block;
        // margin: 0 8% 2% 0;
        // &:nth-child(4n+1) {clear: both;} // because of diff height on pdf image
        // &:nth-child(4n) { margin-right: 0; } 

		margin-bottom: 3em;

		.views-field-name {
			background-color: $colorLightGrey;
			text-align: center;
			padding: 2px;
			//border-radius: 0 0;

		}

		.views-field-field-unit {
			background-color: $colorBeigeGrey;
			text-align: center;
			padding: 0;
			font-size: .8em;
			border-radius: 2px 2px 0 0 ;

		}


		@include media($tablet) {
			@include omega-reset(4n, 6);
			@include span-columns(2 of 6);
			@include omega(3n);
			//&:nth-child(4n) { margin-right: 5em; } 
		}

		@include media($mobile) {
			@include omega-reset(3n, 4);
			@include span-columns(2 of 4);
			@include omega(2n);
		}

	}

}


/*
 ********** People Page (.../people/person-name) -- Title/Description ****************
 */

.context-people-page {

	main {
		#page-title {display:none;}
	}


	.header-middle-bottom-outer {
		background-color: $colorGraduateLightGreen;
	}


	.featured-outer-one  {
		
		background-color: $colorGraduateLightGreen;
		
		
		// EVA Field Person Name
		#block-fieldblock-bdcadf5ac654ed7b2d0bed98ddbbca1a .view-display-id-entity_view_2 {
			
			.views-field-name-1 {
				color: $colorLightPrimary;
				padding-top: 2em;
				font-size: 2.4em;
				border-bottom: 1px solid $colorLinkHover;

				@include media($tablet) {
					font-size: 2em;
				}

				@include media($mobile) {
					font-size: 1.4em;
				}


			}
		}


		// EVA Field Person Image (extra image in context_people_name)
		#block-fieldblock-7d9066c7669a89290d050e50e280919a {
			.field-name-field-people-image {
				img {
					display: none;
					@include media($mobile) {
						display: block;
						margin: 1em auto 0 auto;
					}

				}
			}
		}

		// EVA Field Person Description
		#block-fieldblock-77e58f65f54c4a3b1f9304de010e7c26 .view-display-id-entity_view_4 {

			.views-field-description  {
				padding-top: 1.5em;
				padding-bottom: 3em;
				font-size: 1.2em;
				color: darken($colorMidGrey, 20%);

				.field-content p br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1em !important;    
				}

				@include media($mobile) {
					font-size: 1em;
				}
			}
		}

	}

}

// EVA Field Person Associated Series
.context-people-page {

	.featured-outer-two {

		background-color: $colorLightGrey;

		#block-fieldblock-8d83dd80917f5b47c5567abe2f2782e2 .view-display-id-entity_view_1 {

			h2 {
				margin: 0;
				padding: 1em 0;
				font-size: 1.3em;
				display: block;
				cursor: pointer;
				text-align: center;
				color: $action-color;
				background-color: $colorLightGrey;

				&:hover {
					background-color: lighten($colorLightGrey, 3%);
				}

				@include media($mobile) {
					font-size: .9em;
				}

				
			}
			h2.collapsed:after, h2.collapsed:before {
				content: "   ▲   ";
				margin:  0 1em;
			}

			h2:not(.collapsed):after, h2:not(.collapsed):before {	
				content: "   ▼   ";
				margin:  0 1em;
			}

			.view-content {
				display: none; // JQuery toggles
			}

			.views-row {
				width: auto;
				padding: 1em 0;
				@include span-columns(2);
				@include omega(6n);
				font-size: $description-font-size;
				height: auto;


				@include media($mobile) {
					@include span-columns(2 of 4);
					@include omega(2n);
				}

				.views-field-name {

					a {
						display: block;
						color: $colorOffBlack;
						height: 40px;
						font-size: 1em;
						border-radius: 0 0 2px 2px;
					}

				}

			}		
		}
	}
}


/*
 *****************  Responsive Sidebar on people  **************************************************
 */

 .context-people-page {

 	@include media($mobile) {

 		&.one-sidebar.sidebar-first {
		    main {
		      aside {
		        &#sidebar-first {
		          @include span-columns(4); 

 					//Hide the sidebar image and the sidebar title block.
		            #block-fieldblock-7d9066c7669a89290d050e50e280919a,
  					#block-fieldblock-bdcadf5ac654ed7b2d0bed98ddbbca1a {
						display: none;
					}
		        }
		      }

		      section#content {
		          @include span-columns(4);

		        }
		    }



  		}



 	}
 }




/*
 *****************  Lexicon View (.../people)  **************************************************
 */

.lexicon-list > dl > dt {
	@include span-columns(3);
    @include omega(4n);
	width: 20%
}

.lexicon-list > p {
	@include clearfix;
}

