/*
 *****************  Series Gallery View (.../series)  **************************************************
 */

.view-series-gallery {

	.view-header {
		border-top: 2px solid $colorBeigeGrey;
		color: $colorPrimary;
		padding: 3px 0;
		margin-bottom: $base-spacing;
	}

	.views-row {

    	@include span-columns(6);
    	@include omega(2n);
		margin-bottom: 4em;

		@include media($tablet) {
			border: 1px solid $base-border-color;
			padding: 20px;	
		}

		.views-field-name {
			font-size: 1em;
			background-color: $colorVeryLightBlue;
			border-radius: $base-border-radius;
			margin-bottom: .6em;

			a {
				display: block;
				padding: 3px 10px;
				min-height: 3em;
				&:hover {
					background-color: $colorLightGrey;
					color: $colorPrimary;
				}
			}

      		@include media($tablet) {
				font-size: 1em;
				min-height: 4em;
			}
    	}


		.fieldset-series-wrapper {
			@include clearfix;
			padding-bottom: 1em;

			.fieldset-series-left { 
				@include span-columns(3 of 6);
				
				@include media($tablet) {
					@include span-columns(6 of 6);
				}

			}

			.fieldset-series-right {
				@include span-columns(3 of 6);
				height: 19em;
				@include shift(-.2);
				color: $font-description-color;
				font-size: $description-font-size;

				br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1.2em !important;
				}

				@include media($tablet) {
					@include span-columns(6 of 6);
					height: 10em;
					
				}

				.views-field-description {
			    	@include media($tablet) {
						max-height: 54px; 
						overflow: hidden;
					}
    			}

				.views-field-nid, .views-field-created {
			    	//border-bottom: 1px solid $base-border-color;
			    	margin-bottom: .5em;
			    	padding: 3px 0;
			    }
			}
		}

		.fieldset-series-bottom {
			border-top: 1px solid $base-border-color;
			border-bottom: 1px solid $base-border-color;
	    	margin-bottom: 5px;
	    	padding: 5px;
		}

	}

}

/*
 ********************************   Series Page (.../series/series-name) Title/Description  **************************************************
 */


.context-series-page {

	main {
		#page-title {display:none;}
	}	


	.header-middle-bottom-outer {
		padding-top: 2.5em;
		background-color: $colorIconBlueGrey;

	}

	.featured-outer-one {
		padding-bottom: 2.5em;
		background-color: $colorIconBlueGrey;


		#block-fieldblock-f3b41b0d6b540a613d7f82df1568a0ba .view-display-id-entity_view_3 {
			.views-field-name {
				padding-top: 1em;
				font-size: 1.8em;
				border-bottom: 1px solid $colorLinkHover;
			}
		}

		#block-fieldblock-64071884587fd9f5976892abab11b1fc {
			
			.view-display-id-entity_view_5 {

				.views-field-description {
					padding-top: 1em;

					.field-content p { 
						// content: "A" !important;
				 		//  display: block !important;
				    	margin-bottom: 1em !important;
					}

					br {
						content: "A" !important;
					    display: block !important;
					    margin-bottom: 1em !important;

					}
				}
			}
		}
		
		// The subscribe buttons 
		#block-fieldblock-0c7862d7c08985ffc1ae025e83178979 {
			@include clearfix;
			padding-top: 1em;

			.view-eva-subscribe-links  {

				h2.title {
					color: $colorMidGrey;
					width: 70px; 
					text-align: center;
					margin-right: 2em;
					float: left;
					font-size: .7em;
					border: 1px solid $colorMidGrey;
					padding: 8px 0 7px 0;
					border-radius: $base-border-radius;

				}

				.view-content {

					a {
						background-color: $action-color;
						color: $colorLightGrey;
						margin-right: 1.5em;
						font-size: .9em;
						width: 150px;
						float: left;
						display: block;
						padding: 5px;
						vertical-align: middle;
						border-radius: $base-border-radius;
						margin-bottom: 1em;
					}

					.views-field-field-itunes-u-audio-code a, 
					.views-field-field-itunes-u-video-code a,
					.views-field-field-itunes-u-document-code a {
						background-image: url("../images/itunes_u.png");
						background-repeat: no-repeat;
						background-size: 21%;
						padding-left: 40px;

					}

					.views-field-field-mediapub-nid a {
						background-image: url("../images/rss_icon.png");
						background-repeat: no-repeat;
						background-size: 22%;
						background-position: -5px -1px;
						padding-left: 35px;

					}
				}

			}

		}

	}

}




