/*
 *****************  Series Gallery View (.../series)  **************************************************
 */

.context-series-gallery {

	.header-middle-outer {
		background-color: $colorIconBlueGrey;
		padding-top: 4.5em;
		padding-bottom: 4em;

		@include media($mobile) {
			padding-top: 2em;
			padding-bottom: 0;
		}

	}


	.view-header {
		border-top: 2px solid $colorBeigeGrey;
		font-size: 2em;
		text-align: center;
		font-variant: small-caps;
		color: $colorMidGrey;
		padding: 3px 0;
		margin-bottom: $base-spacing;
	}

	.views-row {

    	@include span-columns(6);
    	@include omega(2n);
		margin-bottom: 4em;

		.views-field-name {

			margin-bottom: .3em;

			a {
				font-size: 1.3em;
				min-height: 3.2em;
				background-color: $colorLightGrey;
				border-radius: $base-border-radius;
				display: block;
				padding: 3px 5px;

				&:hover {
					background-color: darken($colorLightGrey, 10%);
					color: $colorPrimary;
				}
				@include media($tablet) {
					font-size: 1.5em;
				}
				@include media($mobile) {
					font-size: .9em;
				}
			}
    	}


		.fieldset-series-wrapper {
			@include clearfix;

			.fieldset-series-left { 
				@include span-columns(3 of 6);
				
				@include media($tablet) {
					@include span-columns(2 of 6);
				}

				@include media($mobile) {
					@include span-columns(1.7 of 4);
				}
			}

			.fieldset-series-right {
				@include span-columns(3 of 6);
				padding-right: 10px;
				color: $font-description-color;
				font-size: .9em;

				br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1.2em !important;
				}

				@include media($tablet) {
					@include span-columns(4 of 6);	
					font-size: 1.1em;			
				}

				@include media($mobile) {
					@include span-columns(2.3 of 4);	
					font-size: .8em;			
				}


				.views-field-description {
					
			    	@include media($mobile) {
						max-height: 75px; 
						overflow: hidden;
						font-size: .8em;
					}
    			}

				.views-field-nid {
					border-bottom: 1px solid $base-border-color;
					font-size: 1.2em;
			    	margin-bottom: .5em;
			    	padding: 3px 0;
			    	@include media($tablet) {
			    		font-size: 1em;
			    		
			    	}
			    	@include media($mobile) {
			    		font-size: .9em;
			    		//margin-bottom: .1em;
			    	}
			    }

			    .views-field-created {
					border-bottom: 1px solid $base-border-color;
					font-size: 1.2em;
			    	margin-bottom: .3em;
			    	padding: 3px 0;
			    	@include media($tablet) {
			    		font-size: 1em;
			    		margin-bottom: .1em;
			    	}
			    	@include media($mobile) {
			    		font-size: .9em;
			    		margin-bottom: .1em;
			    	}
			    	&:after {
			    		content: "(Last Updated)";
			    		padding-left: 10px;
			    		//font-size: .9em;
			    		color: darken($colorLightGrey, 13%);

			    	}
			    }
			}
		}


		.fieldset-series-bottom {
			border-top: 1px solid $base-border-color;
			border-bottom: 1px solid $base-border-color;
	    	padding: .3em;
	    	margin-top: .5em;
			@include media($mobile) {
	    		font-size: .7em;
	    		
	    	}
		}

		@include media($tablet) {
			@include span-columns(6);
			@include omega(1n);
		}

	}

}

/*
 **********************   Series Page (.../series/series-name) Title/Description ************************************
 */


.context-series-page {

	main {
		#page-title {display:none;}
	}	




	.featured-outer-one {
		background-color: $colorIconBlueGrey;
		
		#block-fieldblock-f3b41b0d6b540a613d7f82df1568a0ba .view-display-id-entity_view_3 {

			.views-field-name {
				color: $colorLightPrimary;
				padding-top: 2em;
				font-size: 2.4em;
				border-bottom: 1px solid $colorLinkHover;

				@include media($tablet) {
					font-size: 2em;
				}

				@include media($mobile) {
					font-size: 1.4em;
				}
			}
		}

		// EVA Field Series Image (extra image in context_series_name)
		#block-fieldblock-8a7af6a03ced7132e0a84a2c74e6eb51 {
			.field-name-field-series-album-cover {
				img {
					display: none;
					@include media($mobile) {
						display: block;
						margin: 1em auto 0 auto;
					}

				}
			}
		}



		#block-fieldblock-64071884587fd9f5976892abab11b1fc {
			
			.view-display-id-entity_view_5 {

				.views-field-description {
					padding-top: 1.5em;
					padding-bottom: 3em;
					font-size: 1.2em;
					color: darken($colorMidGrey, 20%);


					.field-content p { 
						// content: "A" !important;
				 		//  display: block !important;
				    	padding-bottom: 1em !important;
					}

					br {
						content: "A" !important;
					    display: block !important;
					    margin-bottom: 1em !important;

					}

					@include media($mobile) {
						font-size: 1em;
					}
				}
			}
		}
	}
}



/*
 *****************  Subscribe section on each series  ***********************************
 */


.context-series-page, .context-episode-page {

	.featured-outer-two {
		background-color: $colorLightGrey;

		@include media($tablet) {
			padding-top: .5em;
			padding-bottom: .5em;
		}
		


		#block-fieldblock-0c7862d7c08985ffc1ae025e83178979, #block-fieldblock-4339cdcb3735174b76775d6ddac3dd5f {
			@include clearfix;
			height: 38px;
			

			.view-eva-subscribe-links  {
				height: 100%;


				h2.title {
					float: left;
					margin: 0 0 0 0;
					color: #fff;
					height: 38px;
					font-variant: small-caps;
					width: 110px; 
					text-align: center;
					padding: 8px 0 0 5px;
					margin-right: 2em;
					display: block;
					height: 100%;
					font-size: 1.3em;
					background-color: darken($colorLightGrey, 10%);
					position: relative;


					@include media($tablet) {
						//float: none;
						width: 30%;
						margin-top: 5px;
						padding: 3px 0;
						height: 28px;
						font-size: 1.2em;
						//background-color: transparent;
					}
					@include media($mobile) {
						float: none;
						width: 100%;
					}
				}

                // Arrow, created by: http://www.cssarrowplease.com
				h2.title:after {

						left: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(201, 198, 189, 0);
						border-left-color: #C9C6BD;
						border-width: 19px;
						margin-top: -19px;

						@include media($tablet) {
						display: none;
						}						
				}

				.view-display-id-attachment_1 {
					float:left;
				}
				
				.view-content {
					margin: 0 auto;

					a {
						background-color: $action-color;
						color: $colorLightGrey;
						//margin-left: 1.5em;
						font-size: .9em;
						width: 145px;
						float: left;
						display: block;
	
						padding: 5px;
						vertical-align: middle;
						margin:.5em 1em .5em 0;
						&:hover {
							background-color: lighten($action-color, 10%);
						}
						@include media($tablet) {
							
						}	
						@include media($mobile) {
						width: 135px;
						height: 25px;
						font-size: .8em;
						
						}				
					}

					.views-field-field-itunes-u-audio-code a, 
					.views-field-field-itunes-u-video-code a,
					.views-field-field-itunes-u-document-code a {
						background-image: url("../images/itunes_u.png");
						background-repeat: no-repeat;
						background-size: 21%;
						padding-left: 45px;


					}
					.views-field-field-itunes-u-document-code a {width: 170px;}

					.views-field-field-mediapub-nid a {
						background-image: url("../images/rss_icon.png");
						background-repeat: no-repeat;
						background-size: 22%;
						background-position: -5px -1px;
						padding-left: 40px;


					}
				}

			}

		}
	}

}

.context-episode-page {
	.featured-outer-two {
		background-color: darken($colorLightGrey, 4%);
	}
}

/*
 *****************  Responsive Sidebar on series  **************************************************
 */

 .context-series-page {

 	@include media($mobile) {

 		&.one-sidebar.sidebar-first {
		    main {
		      aside {
		        &#sidebar-first {
		          @include span-columns(4); 

 					//Hide the sidebar image and the sidebar title block.
		            #block-fieldblock-8a7af6a03ced7132e0a84a2c74e6eb51,
  					#block-fieldblock-f3b41b0d6b540a613d7f82df1568a0ba {
						display: none;
					}
		        }
		      }

		      section#content {
		          @include span-columns(4);

		        }
		    }



  		}



 	}
 }




