.context-episode-page .sidebar {

	input {
		margin-bottom: $base-spacing / 2;
	}
	
	.contextual-links-region {position: static;}  // Some strange bug that affects only UNIT links block

	position: none;
	font-size: $sidebar-font-size;


	.block-facetapi {
		margin: 0 0 $base-spacing 0;
		//background-color: $colorBeigeGrey;
		//padding: 20px;


		h2 {
			background-color: $colorIconBlueGrey;
			padding: .75em;
			color: $font-heading-white;
			border-radius: $base-border-radius;
		}
	}

	.block-facetapi-units, .block-facetapi-keywords {
		//border-top: 1px solid $base-border-color;
		margin: 0 0 $base-spacing 0;
				
		.item-list {
			max-height: 20em;
			overflow-y: scroll;
		}
	}

	.block-facetapi-units ul.facetapi-facetapi-links,
	.block-facetapi-keywords ul.facetapi-facetapi-links {
		
		padding-right: -20px;
		li {border-bottom: 1px solid $base-border-color;}
		
	}


	// .facetapi-facet-title-az-glossary {
	// 	@include clearfix;
	// }

	// .facetapi-facet-title-az-glossary li a {
	// 	width: 25px; 
	// 	display: inline-block;
	// }
	// .facetapi-facet-title-az-glossary li { 
	// 	margin: 1px; 
	// 	padding: 8px; 
	// 	float:left; 
	// 	border: 1px solid #ccc;
	// }
	// .facetapi-facet-title-az-glossary li .facetapi-active {
	// 	padding-right: 10px;
	// }

}








