.sidebar {
	
	.contextual-links-region {position: static;}  // Some strange bug that affects only UNIT links block

	position: none;
	font-size: $sidebar-font-size;


	.block-facetapi {
		//border-bottom: 1px solid $base-border-color;
		margin: 0 0 $base-spacing 0;
		
		
		.item-list {max-height: 30em; overflow: scroll;}
		

		//padding-right: $small-spacing;

		h2 {
			background-color: $lighter-gray;
			padding: .75em;
		}
	}

	.sidebar .block-facetapi-units, .sidebar .block-facetapi-keywords {
		//border-top: 1px solid $base-border-color;
		margin: 0 0 $base-spacing 0;
		max-height: 20em;
		//padding: $small-spacing;
		
	}

	.block-facetapi-units ul.facetapi-facetapi-links,
	.block-facetapi-keywords ul.facetapi-facetapi-links {
		
		padding-right: -20px;

		.item-list {overflow-y: scroll;}


		li {border-bottom: 1px solid $base-border-color;}
		
	}
}













.sidebar .facetapi-facet-title-az-glossary {@include clearfix;}
.sidebar .facetapi-facet-title-az-glossary li a {width: 25px; display: inline-block;}
.sidebar .facetapi-facet-title-az-glossary li { margin: 1px; padding: 8px; float:left; border: 1px solid #ccc;}
.sidebar .facetapi-facet-title-az-glossary li .facetapi-active {padding-right: 10px;}

