/*
 *************************  Unit Page (.../department-colleges/dept-college-name) -- Top Featured  **********************************
 */

.context-unit-page {

	main {
		#page-title {display:none;}

		#content {
			.view-id-eva_associated_terms {
				.views-row {
					@include span-columns(3);
					@include omega(4n);
					padding-bottom: 4em;
				}
			}

		}
	}


	.header-middle-bottom-outer {
		
		background-color: $colorGraduateYellow; //$colorBooksBlog; //$colorMidGrey;
		#block-block-9 {
			padding: 3em 0;

		}
	}



	.featured-outer-one  {
		//padding-bottom: 2.5em;
		background-color: $colorGraduateYellow; //$colorBooksBlog; //$colorMidGrey;

		#block-fieldblock-d5c500a5fa8ad0acb246e0e3fe77d1af .view-display-id-entity_view_6 {
			.views-field-description {
				padding: 2em 0;
				font-size: 1.2em;
				color: darken($colorMidGrey, 10%);
				
				.field-content p br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1em !important;    
				}
			}			
		}


			
		#block-fieldblock-7afe5ac42fd76434610c72d58305bf2d .view-display-id-entity_view_1 {

			.views-field-name {
				padding-top: 1.5em;
				font-size: 2em;
				border-bottom: 1px solid $colorLinkHover;
			}

		}

	}

}


// EVA Field Person Associated Series
.context-unit-page {

	.featured-outer-two {
		background-color: $colorLightGrey;


		#block-fieldblock-8c2171cdad0585deed12a3f528f962b4 .view-display-id-entity_view_6 {
			h2 {
				padding: 1em 0;
				font-size: 1.1em;
				display: block;
				cursor: pointer;
				color: $action-color;
				
			}
			h2.collapsed:after {
				content: "   ▲   ";
			}

			h2:not(.collapsed):after {	
				content: "   ▼   ";
			}

			.view-content {
				display:none; // JQuery toggles
			}

			.views-row {
				width: auto;
				padding: 2em 0;
				@include span-columns(2);
				@include omega(6n);
				font-size: $description-font-size;

				.views-field-name {

					a {
						display: block;
						color: $colorOffBlack;
						height: 40px;
						font-size: .9em;
						border-radius: 0 0 2px 2px;
					}

				}

			}		
		}
	}
}

/*
 *************************  Unit Gallery (.../department-colleges)  **********************************
 */




.context-unit-page  {

	.view-unit-gallery {
		.item-list {
			@include clearfix;
			margin: 2em 0 5em 0;
			h3 {
				color: $colorMidGrey;
				border-top: 4px solid $colorGraduateYellow;
				font-size: 1.4em;
			}

		}

		.views-row .views-field {
			
			@include span-columns(6);
			@include omega(n);
			display: inline-block;
			padding-right: 3em;
			font-size: 1.1em;
			
			a {
				padding: 3px 3em 3px 0;
				border-bottom: 1px solid $colorLightGrey;
				display: block;
				padding-right: 10px;
				&:hover {
					background-color: $colorVLightGrey;
				}
			}

		}

	}
}







