/*
 *************************  Unit Gallery (.../department-colleges)  **********************************
 */


.context-unit-gallery  {

	#page-title {display:none;}

	.header-middle-outer {
		padding-top: 5em;
		padding-bottom: 5em;
		background-color: $colorGraduateYellow; //$colorBooksBlog; //$colorMidGrey;
		@include media($mobile) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}

	.view-unit-gallery {
		@include media($mobile) {
			font-size: 80%;
		}
		.item-list {
			@include clearfix;
			margin: 2em 0 5em 0;
			h3 {
				padding-top: .2em;
				padding-bottom: .5em;
				color: $colorMidGrey;
				border-top: 4px solid $colorGraduateYellow;
				font-size: 1.4em;
			}

		}

		.views-row .views-field {
			
			@include span-columns(6);
			@include omega(n);
			display: inline-block;
			padding-right: 3em;
			font-size: 1.1em;

			@include media($tablet) {
				@include span-columns(6);
				padding-right: 0;
			}

			@include media($mobile) {
				@include span-columns(4);
				padding-right: 0;
			}
			
			a {
				padding: 3px 3em 3px 0;
				border-bottom: 1px solid $colorLightGrey;
				display: block;
				padding-right: 10px;
				&:hover {
					background-color: $colorVLightGrey;
				}
			}

		}

	}
}


/*
 *************************  Unit Page (.../department-colleges/dept-college-name) -- Top Featured  **********************************
 */

.context-unit-page {

	main {
		#page-title {display: none;}

		#content {
			.view-id-eva_associated_terms {
				.views-row {
					@include span-columns(3);
					@include omega(4n);
					padding-bottom: 4em;
				}
			}

		}
	}




	.featured-outer-one  {
		background-color: $colorGraduateYellow; 

		#block-fieldblock-7afe5ac42fd76434610c72d58305bf2d .view-display-id-entity_view_1 {

			.views-field-name {
				color: $colorLightPrimary;
				padding-top: 2em;
				font-size: 2.4em;
				border-bottom: 1px solid $colorLinkHover;

				@include media($tablet) {
					font-size: 2em;
				}

				@include media($mobile) {
					font-size: 1.4em;
				}
			}

		}

		// EVA Field Series Image (extra image in context_unit_name)
		#block-fieldblock-dfea7c16f657ccdfe7b463c686203cc9 {
			.field-name-field-unit-image {
				margin-top: 1em;

				@include media($mobile) {
					background-color: transparentize($colorLightGrey, .6);
				}
				//border: 1px solid lighten($colorGraduateYellow, 15%);
				//

				img {
					display: none;
					@include media($mobile) {
						display: block;
						margin: 1em auto 0 auto;
						//background-color: lighten($colorGraduateYellow, 15%);
						padding: 1em;
					}

				}
			}
		}

		// Eva field department link (extra link in context_unit_name)
		#block-fieldblock-6846037a8753c624f3378f2a930e9e43 a {
			display: none;
			@include media($mobile) {
				display: block;
				text-align: center;
				padding: 5px 5px 2px 5px;
				border-bottom: 1px solid transparentize($colorLightGrey, .3);
				&:hover {
					background-color: $colorVLightGrey;
					opacity: .5;
					color: #000;
				}
			
			}
		}

		#block-fieldblock-d5c500a5fa8ad0acb246e0e3fe77d1af .view-display-id-entity_view_6 {

			.views-field-description {
				padding-top: .5em;
				padding-bottom: 3em;
				font-size: 1.2em;
				color: darken($colorMidGrey, 10%);
				
				.field-content p br { 
					content: "A" !important;
				    display: block !important;
				    margin-bottom: 1em !important;    
				}

				@include media($mobile) {
					font-size: 1em;
				}
			}			
		}
	}
}


// EVA Field Person Associated Series
.context-unit-page {

	.featured-outer-two {
		background-color: $colorLightGrey;
	}


		#block-fieldblock-8c2171cdad0585deed12a3f528f962b4 .view-display-id-entity_view_6 {

				h2 {
					margin: 0;
					padding: 1em 0;
					font-size: 1.3em;
					display: block;
					cursor: pointer;
					text-align: center;
					color: $action-color;
					background-color: $colorLightGrey;

					&:hover {
						background-color: lighten($colorLightGrey, 3%);
					}

					@include media($mobile) {
						font-size: .9em;
					}	
			}

			h2.collapsed:after, h2.collapsed:before {
				content: "   ▲   ";
				margin:  0 1em;
			}

			h2:not(.collapsed):after, h2:not(.collapsed):before {	
				content: "   ▼   ";
				margin:  0 1em;
			}

			.view-content {
				padding-bottom: 3em;
				display: none; // JQuery toggles
			}

			.views-row {
				width: auto;
				padding: 1em 0;
				@include span-columns(2);
				@include omega(6n);
				font-size: $description-font-size;
				height: auto;


				@include media($mobile) {
					@include span-columns(2 of 4);
					@include omega(2n);
				}

				.views-field-name {

					a {
						display: block;
						color: $colorOffBlack;
						height: 40px;
						font-size: 1em;
						border-radius: 0 0 2px 2px;
					}

				}

			}
		}
}


/*
 *****************  Responsive Sidebar on unit  **************************************************
 */

 .context-unit-page {

 	@include media($mobile) {

 		&.one-sidebar.sidebar-first {
		    main {
		      aside {
		        &#sidebar-first {
		          @include span-columns(4); 

 					//Hide the sidebar image and the sidebar title block.
		            #block-fieldblock-dfea7c16f657ccdfe7b463c686203cc9,
		            #block-fieldblock-6846037a8753c624f3378f2a930e9e43 {
						display: none;
					}
		        }
		      }

		      section#content {
		          @include span-columns(4);

		        }
		    }



  		}



 	}
 }

