/*
 * @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * neato_pod.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (neato_pod.scss) is where all the partials are
 * imported.
 *
 * If you have changed the paths where bower components live, please update the mappings below.
 */

// Make sure the charset is set appropriately
@charset "UTF-8";

// Import normalize.css
@import "../../neato/bower_components/normalize.css/normalize.css";

// Import Bourbon.
@import "../../neato/bower_components/bourbon/app/assets/stylesheets/bourbon";

// Import Bitters.
@import "base/base";

// Neat Grid Setting Overrides -- must be imported before Neat
@import "base/grid-settings";

// Import Neat.
@import "../../neato/bower_components/neat/app/assets/stylesheets/neat";
@import "../../neato/bower_components/neat/app/assets/stylesheets/neat-helpers";

// Import layout
@import "base/layout";

// Import Drupal element overrides
@import "common/breadcrumb";
@import "common/messages";
@import "common/tables";
@import "common/tasks";
@import "common/sidebars";

// Import your components here.
@import "components/hero";
@import "components/flexbox";
@import "components/footer";
@import "components/grid-list-toggle";

//.header-bottom-right .views-exposed-widgets {float: right;}
.header-top-outer, .header-bottom-outer, .footer-top-outer {background-color: #eee;}
.header-middle-outer {background-color: #ccc;}
.block-menu ul.menu li {display: inline-block; margin: 10px 10px 10px 0;}
.block-menu ul.menu li a {padding: 10px; border: 1px solid red; display: block;}

.featured-outer {padding: 10px 0 0 0; background-color: #efefef; opacity: .7; }

#footer-bottom .block {display:none;}
#sidr-menu {background-color: #F8F8F8; width:450px; left:-470px; right: auto; padding: 10px; overflow-x: hidden;}
.sidr-class-views-row {padding-top: 5px; height: 150px; border-top: 1px solid #ccc; }
.sidr-class-views-field { padding-top: 5px; }
//.sidr-class-views-field-field-series-album-cover {float: left; padding-right: 1%;}
.sidr-class-views-field-description {  font-size: .7em; height: 170px; overflow: hidden; }
#sidr-id-hideseek-search {width: 100%; height: 35px; display: block;}


.view-series-galleries .views-row {height: 300px;}
.view-series-galleries .views-field-field-series-album-cover {float: left; padding-right: 1%;}
#hideseek-search-page {width: 100%; height: 35px; display: block; margin: 40px 0;}

// Use only if want to hide iTunes U exposed facet children -- must show full hierarchy
//.facetapi-facetapi-links .item-list .expanded {display: none;}




//.block--facetapi {display: inline-block;}