/* Note: form-buttons.scss are base/_forms.scss and base/_buttons.scss overrides


****************************************************************************************************
****************************************************************************************************
*************************   FORM/Button overrides -- overrides general styling     *****************
*************************          in _form.scss and _buttons.scss               *******************
****************************************************************************************************
****************************************************************************************************

/*
 ************************ Search Filters General -- across contexts   ****************************
 */
.front, .context-results-page, .context-series-gallery, .context-people-gallery, .context-unit-gallery {
	input[type=submit] {
		text-indent: -9999px;
		background-image: url("../images/search_glass.png");
		//opacity: .5;
		border: 1px solid lighten($colorLinkHover, 20%);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 55px;
		background-color: transparent;
		position: relative;

		@include media($mobile) {
			width: 40px;
		}
		&:hover, &:focus {
		background-color: $colorPrimary;
		color: $font-heading-color;
		opacity: .5;
		}
	}

	header {
		input {
			height: 55px;
			border: none;
			font-size: 2em;
			opacity: .7;
			background-color: $colorVLightGrey;
			@include media($tablet) {
			    font-size: 1.5em;
			}
			@include media($mobile) {
	      		height: 40px;
	      		font-size: 1em;
	      		padding: 7px;
	      	}
		}
	}
}

// // Overried the above just for results page
// .context-results-page {
// 	header {
// 		input {
// 				@include media($mobile) {
// 	      		height: 40px;
// 	      		font-size: .8em;
// 	      		padding: 7px;
// 	      	}

// 		}
// 	}
// }

// Smaller page "Filter results here" search filters
.context-series-page, .context-people-page, .context-unit-page {
	input[type=submit] {
		text-indent: -9999px;
		background-image: url("../images/search_glass.png");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 40px;
		opacity: .6;
		background-color: transparent;
		position: relative;
		@include media($mobile) {
			width: 30px;
		}
	}
}


// Extra sorting filters
.context-results-page, .context-series-gallery {
	header {
		.views-widget-sort-order, .views-widget-sort-by, .views-widget-per-page {

			label {
		 		display: none;
			}
			select {
				-webkit-appearance: none;
				-webkit-border-radius: 0px;
				font-size: 1.2em;
				background: none;
				box-shadow: none;
				border-radius: $base-border-radius;
				border: 1px solid lighten($colorLinkHover, 30%);
				height: 55px;
				padding: 10px;
				margin-bottom: 0;
				margin-top: 0;
				display: block;
				//text-align: center;
				background-color: transparent;
				@include media($mobile) {
					padding: 5px;
					height: 40px;
					font-size: .8em;
				}
				&:hover, &:focus {
				background-color: $colorPrimary;
				color: $font-heading-color;
				opacity: .5;
				cursor: pointer;
				}
			}
		}
	}
}

// Don't want the extra filters on the front page, so hide them
.front header {
  	.views-widget-sort-order, .views-widget-sort-by, .views-widget-per-page  {
		label {
	 		display: none;
		}
		select {
			display: none;
		}
	}
	//Adjust for black space from display:none above
	#edit-submit-episode-search-solr- {
		margin-left: -20px; 
		//border: none;
		@include media($mobile) {
			margin-left: -10px;
		}
	}
}



// Search Bar only (not submit button) effects
.front, .context-results-page, .context-series-gallery, .context-people-gallery {
	header {
		.views-widget {

		    input {
			    background-color: $colorVLightGrey;
			    border: 1px solid lighten($action-color, 30%);
			    border-radius: $base-border-radius;
			}

		    &:hover {
		        border-color: darken($base-border-color, 30%);
		    }

		    &:focus {
		        border-color: $action-color;
		        box-shadow: $form-box-shadow-focus;
		        outline: none;
		    }
	    }
	}
}


/*
 ************************ Search Filters Specific -- to each context   ****************************
 */

// Episode Front and Results page widgets
.front header {
	#edit-search-api-views-fulltext-wrapper {
    	width: 60%;
	    @include media($tablet) {
	        width: 80%;
	    }

      	@include media($mobile) {
        	width: 80%;
      	}
  	}

}

.context-results-page header {

	#edit-search-api-views-fulltext-wrapper {
    	width: 60%;
	    @include media($tablet) {
	        width: 48%;
	    }

      	@include media($mobile) {
        	width: 100%;
      	}
  	}
}




// Episode Front and Results page widgets
.context-series-gallery header {

  	#edit-combine-wrapper {
  		width: 37%;

      	@include media($tablet) {
        	width: 100%;
      	}

      	@include media($mobile) {
        	width: 100%;
      	}
  	}
}




// Width of the search bar on People 
.context-people-gallery header {

  #edit-combine-wrapper {  	
    width: 50%;

      @include media($tablet) {
        width: 100%;
      }

      @include media($mobile) {
        width: 100%;
      }
  }
}


/*
 ************************ Episode Solr Search (overrides general styling above)  ****************************
 */


// .block-facetapi-keywords, .block-facetapi-units {
//   input {
//     background-color: $colorVLightGrey;
//     border: 1px solid red;
//     border-radius: $base-border-radius;
//     font-size: 1em;
//     padding: $base-spacing / 2.3;
//     width: 100%;

//     &:hover {
//       border-color: darken($base-border-color, 30%);
//     }

//     &:focus {
//       border-color: $action-color;
//       box-shadow: $form-box-shadow-focus;
//       outline: none;
//     }

//   }
// }


/*
 **************************** Unit Gallery Page (hideseek search box)  ****************************
 */

.context-unit-gallery header {

  #block-block-9 {
    position: relative;

    input {
		background-color: $colorVLightGrey;
		border: 1px solid lighten($action-color, 30%);
		border-radius: $base-border-radius;
     	

      &:hover {
        border-color: darken($base-border-color, 30%);
      }

      &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
      }
    }

  }

}



/*
 ******************************** Chosen dropdown filter overrides ***********************************
 */

// Width of the dropdown elements -- must be this specific
div#edit_field_unit_tid_selective_chosen.chosen-container.chosen-container-single.form-select.chosen-processed {
  	width: 300px !important;
}

.context-series-gallery {
	div#edit_field_unit_tid_selective_chosen.chosen-container.chosen-container-single.form-select.chosen-processed {
	  	@include media($tablet) {
	  		width: 235px !important;
	  	}
	  	@include media($mobile) {
	  		width: 100% !important;
	  	}
	}
}

#edit-field-unit-tid-selective-wrapper {
	
	// Adjustment for MOBILE (without media query, for some reason) 'select' dropdowns -- must match height below
    .form-item-field-unit-tid-selective select {
    	height: 40px;
        background: none;
		box-shadow: none;
		border-radius: $base-border-radius;
		border: 1px solid lighten($colorLinkHover, 20%);
		font-size: .8em;
		width: 100%;
		margin-bottom: 0;
    }

    .chosen-container {
		//Must repeat above in .form-item-field-unit-tid-selective select for MOBILE
	    .chosen-single {
	    	height: 55px;
		    background: none;
		    box-shadow: none;
		    font-size: 1.2em;
		    border: 1px solid lighten($colorLinkHover, 25%);
		    border-style: thin;
		    padding: 14px;
		    border-radius: $base-border-radius;
		    
	        div b {
			    position: relative;
			    top: 14px;
			    left: 3px;
			    @include media($mobile) {
			    	top: 8px;
			    }
	     	}

	     	@include media($mobile) {
	     		height: 40px;
	     		font-size: .8em;
	     		padding: 8px;
	     	}

	    }

	  	.chosen-drop {
	  		width: 100%;
	  	}
	}
}



/*
***************************** Hideseek search boxes in Solr sidebar **************************************
 */
.sidebar-first {
	#hideseek-units {
		height: 40px;
		font-size: 1.3em;
	}
}

#sidr-id-hideseek-keywords-two {
	height: 50px;
	font-size: 1.5em;
}


/*
***************************** Load More button **************************************
 */

.pager-load-more a {
	display: block;
	background-color: transparentize($colorLinkHover, 0.4);
	border: $base-border;
	border-radius: 2px;
	font-size: 2em;
	color: $colorVLightGrey;
	padding: .5em;
	width: 100%;

  &:hover {
    background-color: $colorLinkHover;
    color: $colorVLightGrey;
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }


}




/*
***************************** Pager **************************************
 */

.context-results-page {

	ul.pager {
		margin-top: 8em;
		display: block;
		background-color: $colorLightGrey;
		//border: $base-border;
		border-radius: $base-border-radius;
		color: $colorVLightGrey;
		padding: 1em 0;
		width: 100%;
		border-radius: 2px;
		@include media($mobile) {
			margin-top: 4em;
			padding: 0 0 .4em 0;
		}

		li {
			font-size: 1.1em;
			border-radius: 2px;
			padding: 22px 3px;
			margin: 0;

			@include media($mobile) {
				font-size: 50%;
				padding: 10px 2px;
			}

			&.pager-current {
				background-color: $colorLinkHover;
				color: $colorVLightGrey;
				border-radius: 2px;
			}
			a {
				padding: 23px 3px;
				&:hover {
				    background-color: $colorLinkHover;
				    color: $colorVLightGrey;
					border-radius: 2px;
				  }


				&:focus {
				    border-color: $action-color;
				    box-shadow: $form-box-shadow-focus;
				    outline: none;
				}
				@include media($mobile) {
					padding: 10px 0;
				}


			}

		}
	}
}

.context-series-gallery {
	ul.pager a {
		display: block;
		margin-top: 4em;
	}
}



/*
 ************************ Exposed form views widget resets  ****************************
 */



.views-exposed-form .views-exposed-widget {
  	//margin-top: .5em;
  	margin-bottom: 1em;
	padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0;
}
.views-exposed-widgets {
 	margin: 0;
 	padding: 0;
}
	.context-series-gallery, .context-people-gallery, .context-unit-gallery, .front, .context-results-page {
	.form-item {
		margin-right: 10px;
		@include media($mobile) {
			margin-right: 5px;
		}
	}
}












