/* Note: form-buttons.scss are base/_forms.scss and base/_buttons.scss overrides


****************************************************************************************************
****************************************************************************************************
*************************       FORM overrides        **********************************************
****************************************************************************************************
****************************************************************************************************


/*
 ************************ Search Filters (overrides general styling above)  ****************************
 */


// Width of the search bar on Episode/Front
.front header, .context-results-page header {

	input {
		height: 55px;
		border: none;
		@include media($mobile) {
      		height: 40px;
      		font-size: .8em;
      		padding: 7px;
      	}
	}
	
	#edit-search-api-views-fulltext-wrapper {
    	width: 60%;
    	//margin-right: 10px;
    

      @include media($tablet) {
        width: 50%;
      }

      @include media($mobile) {
        width: 45%;
      }

  	}

  	.views-widget-sort-order, .views-widget-sort-by {

		label {
	 		display: none;
		}
		select {
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			font-size: 1.2em;
			background: none;
			box-shadow: none;
			border-radius: $base-border-radius;
			border: 1px solid lighten($colorLinkHover, 20%);
			height: 55px;
			padding: 10px;
			margin-bottom: 0;
			margin-top: 0;
			display: block;
			//text-align: center;
			background-color: transparent;
			@include media($mobile) {
				padding: 5px;
				height: 40px;
				font-size: .8em;
			}
		}
	}

	.views-widget {

	    input {

		    background-color: $colorVLightGrey;
		    border: 1px solid lighten($action-color, 30%);
		    border-radius: $base-border-radius;
		    font-size: 2em;
		      
		    @include media($mobile) {
		      	font-size: .8em;
		    }

		    &:hover {
		        border-color: darken($base-border-color, 30%);
		    }

		    &:focus {
		        border-color: $action-color;
		        box-shadow: $form-box-shadow-focus;
		        outline: none;
		    }
	    }
	}
}

// Width of the search bar on Series 
.context-series-gallery header {

	input {
		height: 55px;
		border: none;
		@include media($mobile) {
			height: 40px;
			font-size: .8em;
		}
	}

  #edit-combine-wrapper {
  	width: 37%;

      @include media($tablet) {
        width: 100%;
      }

      @include media($mobile) {
        width: 100%;
      }
  }
	
	.views-widget-sort-order, .views-widget-sort-by {

		label {
	 		display: none;
		}
		select {
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			font-size: 1.2em;
			background: none;
			box-shadow: none;
			border-radius: $base-border-radius;
			border: 1px solid lighten($colorLinkHover, 20%);
			height: 55px;
			padding: 10px;
			margin-bottom: 0;
			margin-top: 0;
			display: block;
			//text-align: center;
			background-color: transparent;
			@include media($mobile) {
				padding: 5px;
				height: 40px;
				font-size: .8em;
			}
		}
	}


  	.views-widget {

    input {

      background-color: $colorVLightGrey;
      //border: 1px solid lighten($action-color, 30%);
      border-radius: $base-border-radius;
      font-size: 2em;
      
      @include media($mobile) {
      	font-size: 1em;
      }

      &:hover {
        border-color: darken($base-border-color, 30%);
      }

      &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
      }

    }

  }

}




// Width of the search bar on People 
.context-people-gallery header {

	input {
		height: 55px;
		border: none;
		@include media($mobile) {
			height: 40px;
			font-size: .8em;
		}
	}

  #edit-combine-wrapper {
  	
    width: 50%;

      @include media($tablet) {
        width: 100%;
      }

      @include media($mobile) {
        width: 100%;
      }

  }

  .views-widget {

    input {

      background-color: $colorVLightGrey;
      border: 1px solid lighten($action-color, 30%);
      border-radius: $base-border-radius;
      font-size: 2em;
      
      @include media($mobile) {
      	font-size: 1.2em;
      }

      &:hover {
        border-color: darken($base-border-color, 30%);
      }

      &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
      }

    }

  }

}


/*
 ************************ Episode Solr Search (overrides general styling above)  ****************************
 */


// .block-facetapi-keywords, .block-facetapi-units {
//   input {
//     background-color: $colorVLightGrey;
//     border: 1px solid red;
//     border-radius: $base-border-radius;
//     font-size: 1em;
//     padding: $base-spacing / 2.3;
//     width: 100%;

//     &:hover {
//       border-color: darken($base-border-color, 30%);
//     }

//     &:focus {
//       border-color: $action-color;
//       box-shadow: $form-box-shadow-focus;
//       outline: none;
//     }

//   }
// }


/*
 **************************** Unit Gallery Page (hideseek search box)  ****************************
 */

.context-unit-gallery header {

	input {
		height: 55px;
		border: none;
		@include media($mobile) {
    		height: 40px;
    		font-size: .8em;
    	}
	}

  #block-block-9 {

    position: relative;

    input {
		background-color: $colorVLightGrey;
		border: 1px solid lighten($action-color, 30%);
		border-radius: $base-border-radius;
     	

      &:hover {
        border-color: darken($base-border-color, 30%);
      }

      &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
      }
    }

  }

}




/*
 ******************************** Chosen dropdown filter overrides ***********************************
 */

// Width of the dropdown elements -- must be this specific
div#edit_field_unit_tid_selective_chosen.chosen-container.chosen-container-single.form-select.chosen-processed {
  	width: 300px !important;
}

.context-series-gallery {
	div#edit_field_unit_tid_selective_chosen.chosen-container.chosen-container-single.form-select.chosen-processed {
	  	@include media($tablet) {
	  		width: 235px !important;
	  	}
	  	@include media($mobile) {
	  		width: 100% !important;
	  	}
	}
}

#edit-field-unit-tid-selective-wrapper {
	
	// Adjustment for MOBILE (without media query, for some reason) 'select' dropdowns -- must match height below
    .form-item-field-unit-tid-selective select {
    	height: 40px;
        background: none;
		box-shadow: none;
		border-radius: $base-border-radius;
		border: 1px solid lighten($colorLinkHover, 20%);
		font-size: .8em;
		width: 100%;
		margin-bottom: 0;
    }

    .chosen-container {
		//Must repeat above in .form-item-field-unit-tid-selective select for MOBILE
	    .chosen-single {
	    	height: 55px;
		    background: none;
		    box-shadow: none;
		    font-size: 1.2em;
		    border: 1px solid lighten($colorLinkHover, 20%);
		    border-style: thin;
		    padding: 14px;
		    border-radius: $base-border-radius;
		    
	        div b {
			    position: relative;
			    top: 14px;
			    left: 3px;
			    @include media($mobile) {
			    	top: 8px;
			    }

	     	}

	     	@include media($mobile) {
	     		height: 40px;
	     		font-size: .8em;
	     		padding: 8px;
	     	}

	    }

	  	.chosen-drop {
	  		width: 100%;
	  	}
	}
}




//.chosen-container-single .chosen-single div b {position: relative; top: 10px; left: 3px;}



/*
***************************** Hideseek search boxes in Solr sidebar **************************************
 */
.sidebar-first {
	#hideseek-keywords, #hideseek-units {
		height: 35px;
		font-size: 1.3em;
	}
}


/*
***************************** Load More button **************************************
 */

.pager-load-more a {
	display: block;
	background-color: transparentize($colorLinkHover, 0.4);
	border: $base-border;
	border-radius: $base-border-radius;
	font-size: 2em;
	color: $colorVLightGrey;
	padding: .5em;
	width: 100%;

  &:hover {
    background-color: $colorLinkHover;
    color: $colorVLightGrey;
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }


}

ul.pager {
	margin-top: 5em;
}


/*
 ************************ Exposed form views widget resets  ****************************
 */



.views-exposed-form .views-exposed-widget {
  	//margin-top: .5em;
  	margin-bottom: 1em;
	padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0;
}
.views-exposed-widgets {
 	margin: 0;
 	padding: 0;
}
	.context-series-gallery, .context-people-gallery, .context-unit-gallery, .front, .context-results-page {
	.form-item {
		margin-right: 10px;
		@include media($mobile) {
			margin-right: 5px;
		}
	}
}





/*
****************************************************************************************************
****************************************************************************************************
*************************       Button overrides        **********************************************
****************************************************************************************************
****************************************************************************************************
*/






