// .media-grid {

//     .views-row {
//       @include reset-display;
//       @include span-columns(3);
//       @include omega(4n);
//         // float: left;
//         // width: 25%;
//         // //padding: 1%;
//         // display: block;
//         // margin: 2% 10% 1% 0;
//         // &:nth-child(3n+1) {clear: both;} // because of diff height on pdf image
//         // &:nth-child(3n+3) { margin-right: 0; } 

//         max-height: 600px;
//         //border: 1px solid #ccc;
          
//           .views-field {
  
//           }
//           .views-field-title {
//               height: 50px;
//           }
          
//           //.views-field-term-node-tid {vertical-align: top;}

//           .views-field-nothing  {          
//              .field-content img {
//                 display: none;

//              }
//           }


//       }
//   }

//   .media-list {

//     .views-row {

       
//         display: block;
//         margin: 2% 0 1% 0;
//         overflow: hidden; 
//         padding: 20px;
//         max-height: 300px;
//         background-color: #ccc;
          
//           .views-field {
//               float: left; 
//               height: auto;
//               padding: 0 1% 0 0;

//           }
      
//           .views-field-title {
//               height: 30px;
//               width: 40%;
//           }

//           .views-field-rendered-entity {
//               height: 30px;
//               width: 30%;
//               height: auto;
//               float: right;
//           }

//           .views-field-nothing  {
//             float: left;
//              width: 15%;
//              .field-content img {


//              }
//           }




//       }
//   }