

.header-middle-outer {
	background-color: $colorPrimary; 
	height: 90px; 
	transition: height 500ms; 
	position:fixed; 
	top:0px; 
	margin: auto; 
	z-index:10000;
	width:100%;

	.header-middle {
		margin-top: 1.5em;
	}


	#block-system-main-menu ul.menu li {
	    margin-left: 1em;
		float: right;
		background-color: lighten($colorPrimary, 2%);
	

		a {
			display: block;
			font-variant: small-caps;
			font-size: 1.3em;
			color: $font-heading-color;
			padding: .3em 1em;
			border: 1px solid darken($colorLinkHover, 12%); 
			border-radius: $base-border-radius;

		}

	}

	#logo-block {
		background: url("../images/oxford-logo-square.png") no-repeat;
		background-size: 100%;
		height: 90px;
		width: 90px;
		float: left; 

	}

	#site-name-block {
		font-family: $lucida-grande; 
		font-size: .7em;
		padding-left: $base-spacing;
		color: $colorVLightGrey;
	}

}

// The .header_scoll is a jQuery addClass toggle 
.header-middle-outer.header_scroll {

	height: 57px;
	transition: height 500ms; 

	.header-middle {
		margin-top: .7em;
	}

	


	#block-system-main-menu ul.menu li {

	    margin-left: 1em;
		display: inline-block; 
		margin-top: 1px;
		background-color: lighten($colorPrimary, 2%);

		a {
			display: block;
			font-variant: small-caps;
			font-size: 1.2em;
			color: $font-heading-color;
			padding: 5px 1em;
			border: 1px solid darken($colorLinkHover, 12%); 
			border-radius: $base-border-radius;

		}

	}
	#logo-block {
		background: url("../images/oxford-logo-rectangle.png") no-repeat;
		//transition: background 500ms;
		background-size: 100%;
		height: 39px;
		width: 120px;
		border: 1px solid #fff;
		float: left; 
		margin-bottom: 0;
	}
}


// *****   Required to offset the Fixed height above -- plus the Admin menu when logged-in  **********
.header-middle-bottom-outer {margin-top: 90px; transition: margin-top 500ms; }
.header-middle-bottom-outer.header_scroll {margin-top: 57px; transition: margin-top 500ms;}
.logged-in .header-middle-bottom-outer {margin-top: 99px;}
.logged-in .header-middle-outer  {top: 20px}
#admin-menu {position: relative; z-index: 10001;}
// ************************************************************


.mobile-menu-button {
	float: right;
}

#mobile-menu-wrapper {

	#mobile-menu-inner {
		position: fixed !important;

		#mobile-menu {
			ul {
				border-bottom: 1px solid $colorMidGrey;
				padding-top: 50px;
			}
			opacity: .9;
			padding-top: 60px;
			background-color: darken($colorMidGrey, 30%);
			li {
				
				text-align: center;
				border-bottom: none;
				border-right: none;
				border-left: none;
				border-top: 1px solid $colorMidGrey;
				a {
					padding: 15px 0;
					display: block;
					font-size: 1.3em;
				}
			}

		}


	}

}




	








