
.hover-tile-outer {
  border: 1px solid $base-border-color;
  margin-bottom: 20px;
  display: block;
  height: 50px;
  cursor: pointer;
  font-size: .8em;
  a {
    text-align: center;
  }
}


.hover-tile-container {
  transform: scale(0);
  opacity: 0;
  background: transparentize(#000, 0.5);
  color: white;
  padding: $base-spacing;
  cursor: default;

  li {
  display: inline;

    &:not(:last-child):after { 
      content: "\00a0 | \00a0";
    }

  }
  
}

.hover-tile-outer:hover .hover-tile-container {
  transform: scale(1);
  opacity: 1;
  position: relative;
  z-index: 100;
  @include transition (opacity .5s ease-in-out);
}