// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.

//see http://www.bramvandenbulcke.be/en/article/getting-started-drupal-omega-44-nodejs-and-gulp

@import "singularitygs";
@import "compass";
@import "breakpoint";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


// If using the Sidr menu: https://www.berriart.com/sidr/
// Install Sidr: npm install sidr
// Callback function in pod-omega.behaviors.js
// Include script references in pod_omega.info:
//    scripts[] = node_modules/sidr/dist/jquery.sidr.min.js
//    scripts[] = node_modules/jquery/dist/jquery.js
//
//


#block-views-series-galleries-block-1 {display:none;}
#sidr-menu {background-color: #F8F8F8; width:450px; left:-470px; right: auto; padding: 10px; overflow-x: hidden;}
.sidr-class-views-row {height: 300px;}
.sidr-class-views-field { padding-top: 20px; }
.sidr-class-views-field-field-series-album-cover {float: left; padding-right: 1%;}
.sidr-class-views-field-description {  height: 300px; overflow: hidden; }
#sidr-id-hideseek-search {width: 100%; height: 35px; display: block;}


.view-series-galleries .views-row {height: 300px;}
.view-series-galleries .views-field-field-series-album-cover {float: left; padding-right: 1%;}
#hideseek-search-page {width: 100%; height: 35px; display: block; margin: 40px 0;}


.media-list {

    .views-row {
        float: left;
        width: 30%;
        padding: 1%;
        display: block;
        margin: 2% 2% 1% 0;
        max-height: 600px;
        background-color: $colorLightGrey;
        &:nth-child(3n+1) {clear: both;} // because of diff height on pdf image
        &:nth-child(3n+3) { margin-right: 0; } 
          
          .views-field {
  
          }
      
          .views-field-title {
              height: 50px;
          }

          //.views-field-term-node-tid {vertical-align: top;}

          .views-field-nothing  {          
             .field-content img {
                display: none;

             }
          }


      }
  }

  .media-grid {

    .views-row {

       
        display: block;
        margin: 2% 0 1% 0;
        overflow: hidden; 
        padding: 20px;
        max-height: 300px;
        background-color: $colorLightGrey;
          
          .views-field {
              float: left; 
              height: auto;
              padding: 0 1% 0 0;

          }
      
          .views-field-title {
              height: 30px;
              width: 40%;
          }

          .views-field-rendered-entity {
              height: 30px;
              width: 30%;
              height: auto;
              float: right;
          }

          .views-field-nothing  {
            float: left;
             width: 15%;
             .field-content img {


             }
          }




      }
  }


