#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $colorLinkHover;
  border-radius: $base-border-radius;
  border: none;
  color: $font-heading-color;
  cursor: pointer;
  display: inline-block;
  //position: absolute; // This makes it stick to element on the left
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 1.2em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $colorPrimary;
    color: $font-heading-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}