@import "../../../neato/bower_components/neat/app/assets/stylesheets/neat-helpers";
// Neat Overrides
//$column: 10em;
$gutter: 4em;
//$grid-columns: 12;
$max-width: 1060px;





// Bourbon grid display. Comment out to remove display.
$visual-grid:       true;
$visual-grid-color: #EEEEEE;
$visual-grid-opacity: 0.4;


$tablet: new-breakpoint(max-width 1000px 6);
$mobile: new-breakpoint(max-width 480px 4);





